<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
        <div data-id="visitor_count" data-view="Number" data-title="Visitors Since Launch"></div> 
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
        <div data-id="visitor_count_real_time" data-view="Graph" data-title="Current Visitors"></div> 
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="git_issues_labeled_defects" data-view="Graph" data-title="Issues Count" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #projectmosul"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
  </ul>
</div>